<div class="container" id="faq_search_form"  style="text-align: center">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="input-group" >

                <div class="input-group-prepend">
                    <span class="input-group-text" id="validationTooltipUsernamePrepend" ><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Rechercher..." aria-describedby="validationTooltipUsernamePrepend" required>

            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>