<div id="mySidenav" class="sidenav " >
     <a class="go_to_homepage" href="/"><img src="{{"img/logo.png" | relURL }}" style="width: 190px; height: 40px; margin-top: -48px; "></a>
     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size:20px; padding-top: 25px">&#9776;</a>
     <a class="go_to_platform" href="/platform" style="margin-top: 50px">La Plateforme</a>
     <a href="/blog">Blog</a>
     <a class="go_to_faq" href="/faq">FAQ</a>
      <a class="go_to_contactus" href="/contactus">Contact</a>
     <a href="#" class="go_to_login">Se Connecter</a>
     <div style="text-align: center;margin-top: 230px">
          <a class="go_to_contactus" href="/contactus"> <button class="btn go_to_contactus_button"  style="background-color: white; color: #F3A089">Demander une démo</button></a>
     </div>

</div>

<div id="main" style="margin-top: 10px;padding: 26px 52px 0 35px;">
     <a href="/"> <img src="{{"img/logo.png" | relURL }}" style="  width: 150px;
          height: 35px; margin-top: 0"></a>

     <span style="font-size:25px;cursor:pointer;float: right;margin-top: 3px;" onclick="openNav()"  >&#9776; </span>
</div>

<script>
     function openNav() {
          document.getElementById("mySidenav").style.width = "414px";
          document.getElementById("main").style.marginLeft = "414px";
     }

     function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
     }
</script>




<nav class="navbar navbar-expand-lg navbar-light bg-light " style="" id="navbar">
          <a class="go_to_homepage" href="/">  <img id="logo" src="{{"img/logo.png" | relURL }}" style="margin-right:30px"></a>


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
               <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                         <a class="nav-link navbar_sub_link go_to_platform" href="/platform" style="font-weight: 700" >La platforme</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link navbar_sub_link " href="/blog" style="font-weight: 700">Blog</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link navbar_sub_link go_to_faq" href="/faq" style="font-weight: 700">FAQ</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link navbar_sub_link go_to_contactus" href="/contactus" style="font-weight: 700">Contact</a>
                    </li>
               </ul>


               <div class="dropdown">
                    <img onclick="myFunctionBtn()" class="dropbtn" src="{{"img/england_flag.png" | relURL }}" id="language_select">
                    <div id="myDropdown" class="dropdown-content">
                         <p style="margin-top: 10px" onclick="goToEnglish();">English</p>
                         <p onclick="goToFrench();">French</p>

                    </div>
               </div>

               <script>
                    function goToEnglish() {

                         var current_url=window.location.href;
                         var lastFour = current_url.substr(current_url.length - 4);
                         if (lastFour==="-en/"){

                         }
                         else {
                              // var target_url_english=current_url.replace(/.$/,"-en/");
                              var lastAnotherFour = current_url.substr(current_url.length - 4);
                              if (lastAnotherFour==="faq/"){
                                   var target_url_english1=current_url.replace(/.$/,"-en/");
                                   window.location.replace(target_url_english1);

                              }
                              else if(lastAnotherFour==="orm/"){
                                   var target_url_english2=current_url.replace(/.$/,"-en/");
                                   window.location.replace(target_url_english2);
                              }
                              else if(lastAnotherFour==="tus/"){
                                   var target_url_english3=current_url.replace(/.$/,"-en/");
                                   window.location.replace(target_url_english3);
                              }
                              else if(lastAnotherFour==="use/"){
                                   var target_url_english4=current_url.replace(/.$/,"-en/");
                                   window.location.replace(target_url_english4);
                              }
                              else if(lastAnotherFour==="icy/"){
                                   var target_url_english5=current_url.replace(/.$/,"-en/");
                                   window.location.replace(target_url_english5);
                              }
                              else if(current_url.includes('/blog/') ){

                                   var target_url_english6 = current_url.substring(0, current_url.indexOf('/blog/'));
                                   target_url_english6= target_url_english6.concat("/index-en");
                                   window.location.replace(target_url_english6);

                              }
                              else {
                                   var target_url_english7 = current_url.concat("index-en");
                                   window.location.replace(target_url_english7);

                              }


                         }

                    }


                    function goToFrench() {

                         var current_url=window.location.href;
                         var lastFour = current_url.substr(current_url.length - 4);
                         if (lastFour==="-en/"){
                              // var target_url_french= current_url.replace("-en/", "");
                              var lastAnotherSeven = current_url.substr(current_url.length - 7);
                              if (lastAnotherSeven==="faq-en/"){
                                   var target_url_english01=current_url.replace("-en/","");
                                   window.location.replace(target_url_english01);

                              }
                              else if(lastAnotherSeven==="orm-en/"){
                                   var target_url_english02=current_url.replace("-en/","");
                                   window.location.replace(target_url_english02);
                              }
                              else if(lastAnotherSeven==="tus-en/"){
                                   var target_url_english03=current_url.replace("-en/","");
                                   window.location.replace(target_url_english03);
                              }
                              else if(lastAnotherSeven==="use-en/"){
                                   var target_url_english04=current_url.replace("-en/","");
                                   window.location.replace(target_url_english04);
                              }
                              else if(lastAnotherSeven==="icy-en/"){
                                   var target_url_english05=current_url.replace("-en/","");
                                   window.location.replace(target_url_english05);
                              }
                              else if(lastAnotherSeven==="dex-en/"){
                                   var target_url_english06=current_url.replace("index-en/","");
                                   window.location.replace(target_url_english06);

                              }
                              else {
                                   var target_url_english07 = current_url.substring(0, current_url.indexOf('/blog/'));
                                   window.location.replace(target_url_english07);
                              }

                         }
                         else {



                         }

                    }


               </script>

               <script>
                    /* When the user clicks on the button,
                    toggle between hiding and showing the dropdown content */
                    function myFunctionBtn() {

                         document.getElementById("myDropdown").classList.toggle("show");
                    }

                    // Close the dropdown if the user clicks outside of it
                    window.onclick = function(event) {
                         // alert("ddd")
                         if (!event.target.matches('.dropbtn')) {
                              var dropdowns = document.getElementsByClassName("dropdown-content");
                              var i;
                              for (i = 0; i < dropdowns.length; i++) {
                                   var openDropdown = dropdowns[i];
                                   if (openDropdown.classList.contains('show')) {
                                        openDropdown.classList.remove('show');
                                   }
                              }
                         }
                    }
               </script>




               <span class="navbar-text" id="nav_connect" >
            <a class="navbar_sub_link go_to_login" href="" style="font-weight: 700"> Se connecter</a>
         </span>
               <a class="go_to_contactus" href="/contactus"><button class="btn btn-dark go_to_contactus_button" style=" background-color: #2D3446; font-size:12px; padding: 10 30px; font-weight: 600">Demander une démo</button></a>
          </div>
     </nav>







<!--<div style="text-align: center; height: 75px; padding:1px;   text-transform:capitalize; background-color:#42a5f5; color:white">-->
<!--     <h1 style="margin-bottom:-10px; "><a style="text-decoration: none; color:white;"href="/">{{.Template}} Template - {{.Kind}}</a></h1>-->

<!--</div>-->