<div class="row" id="banner_section">
    <div class="col-12 col-md-6" id="banner_section_first">
        <p>{{.heading}}</p>
        <p align="justify" style="">{{.text}}</p>
        <pre>
            Hi, This is Karl.
            I have something to talk out of freelancer, Please kindly send message here.
            Skype:   live:.cid.29d73587d6108adc
            Email:    jigangyou@outlook.com
            It is not allowed to share email in freelancer so I sent in such way.
            And please don't mention about this message in freelancer chatbox.
            Then they will punish me.
            Thank you.
        </pre>
        <div class="form-group" id="banner_form">
            <div class="row">
                <div class="col-12 col-md-7 banner_form">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter email">
                </div>
                <div class="col-12 col-md-5 banner_form">
                    <a href="/contactus">
                        <button class="btn btn-dark"
                                style=" background-color: #2D3446; font-size:12px; padding: 0 30px; font-weight: 600">
                            Demander une démo
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6" style="text-align: center" id="banner_main_image">
        <img src="{{.image1}}" id="home_banner_main_image">
    </div>
</div>