<div class="row" id="link_section" >
    <div class="col-md-6 sub_link_section" >
        <img src="{{.image61}}">
        <p >{{.heading61}}</p>
        <p align="justify" class="link_section_text">{{.text61}}</p>

        <div class="row sub_link_section_m" >
            <div class="col-md-6" >
                <p>— &nbsp; Difficulté de projection</p>
                <p >— &nbsp;TMA compliqués</p>
                <p >—&nbsp; Lenteur de chiffrage</p>
            </div>
            <div class="col-md-6">
                <p>— &nbsp;Erreurs d’informations</p>
                <p>—&nbsp; Échanges chronophages</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 sub_link_section "  >
        <img src="{{.image62}}">
        <p >{{.heading62}}</p>
        <p align="justify" class="link_section_text">{{.text62}}</p>

        <div class="row sub_link_section_m" >
            <div class="col-md-6" >
                <p>&#10003;&nbsp; Un visuel convaincant</p>
                <p >&#10003;&nbsp; TMA automatisés</p>
                <p > &#10003;&nbsp;Chiffrage instantané</p>
            </div>
            <div class="col-md-6">
                <p>&#10003; &nbsp;Informations précises</p>
                <p> &#10003;&nbsp;Échanges fluides & &nbsp;&nbsp;&nbsp;&nbsp;instantanés</p>
            </div>
        </div>
    </div>
</div>



