<div class="row" id="discuss_section">
    <div class="col-md-6" style="">
        <img src="{{.image41}}" style="" id="discussion_image">
    </div>
    <div class="col-md-6" id="right_discussion_section">
        <div class="accordion" id="accordionExample">
            <div class="card card_actived">
                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            {{.heading41}}
                        </button>
                        <span><i class=" fa fa-chevron-down fa-xs"></i></span>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="card-body"> {{.text41}}</div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            {{.heading42}}
                        </button>
                        <span><i class=" fa fa-chevron-down fa-xs"></i></span>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        {{.text42}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            {{.heading43}}
                        </button>
                        <span><i class=" fa fa-chevron-down fa-xs"></i></span>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        {{.text43}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            {{.heading44}}
                        </button>
                        <span><i class=" fa fa-chevron-down fa-xs"></i></span>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        {{.text44}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                            {{.heading45}}
                        </button>
                        <span><i class=" fa fa-chevron-down fa-xs"></i></span>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        {{.text45}}
                    </div>
                </div>
            </div>
            <div class="card" style="border-bottom: 1px solid rgba(0,0,0,.125);">
                <div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                            {{.heading46}}
                        </button>
                        <span><i class=" fa fa-chevron-down fa-xs" style=""></i></span>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        {{.text46}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

