<div class="row" id="link_section" >
    <div class="col-md-6 sub_link_section" >
        <img src="{{.image61}}">
        <p >{{.heading61}}</p>
        <p class="link_section_text">{{.text61}}</p>

        <div class="row sub_link_section_m" >
            <div class="col-md-6" >
                <p>— &nbsp; Difficulté de projection</p>
                <p >— &nbsp;Difficulté de projection</p>
                <p >—&nbsp; Difficulté de projection</p>
            </div>
            <div class="col-md-6">
                <p>— &nbsp;Difficulté de projection</p>
                <p>—&nbsp; Difficulté de projection</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 sub_link_section "  >
        <img src="{{.image62}}">
        <p >{{.heading62}}</p>
        <p class="link_section_text">{{.text62}}</p>

        <div class="row sub_link_section_m" >
            <div class="col-md-6" >
                <p>&#10003;&nbsp; Difficulté de projection</p>
                <p >&#10003;&nbsp; Difficulté de projection</p>
                <p > &#10003;&nbsp;Difficulté de projection</p>
            </div>
            <div class="col-md-6">
                <p>&#10003; &nbsp;Difficulté de projection</p>
                <p> &#10003;&nbsp;Difficulté de projection</p>
            </div>
        </div>
    </div>
</div>