<div class="row" id="link_section" >
    <div class="col-md-6 sub_link_section" >
        <img src="{{.image61}}">
        <p >{{.heading61}}</p>
        <p align="justify" class="link_section_text">{{.text61}}</p>

        <div class="row sub_link_section_m" >
            <div class="col-md-6" >
                <p>— &nbsp; Difficulty of projection</p>
                <p >— &nbsp;complicated TMA</p>
                <p >—&nbsp; Slow encryption</p>
            </div>
            <div class="col-md-6">
                <p>— &nbsp;Information errors</p>
                <p>—&nbsp; Time consuming exchanges</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 sub_link_section "  >
        <img src="{{.image62}}">
        <p >{{.heading62}}</p>
        <p align="justify" class="link_section_text">{{.text62}}</p>

        <div class="row sub_link_section_m" >
            <div class="col-md-6" >
                <p>&#10003;&nbsp; A convincing visual</p>
                <p >&#10003;&nbsp; Automated TMA</p>
                <p > &#10003;&nbsp;Instant encryption</p>
            </div>
            <div class="col-md-6">
                <p>&#10003; &nbsp;Precise information</p>
                <p> &#10003;&nbsp; Fluid & instant exchanges</p>
            </div>
        </div>
    </div>
</div>



