<div class="row" style="" id="banner_section">
    <div class="col-md-6" id="banner_section_first">
        <p>{{.heading}}</p>
        <p style="">{{.text}}</p>
        <div class="form-group" id="banner_form">
            <div class="row">
                <div class="col-md-8 banner_form">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter email">
                </div>
                <div class="col-md-4 banner_form">
                    <button class="btn btn-dark" >Demander une Demo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="text-align: center" id="banner_main_image">
        <img src="{{.home1_banner.image1}}" >
    </div>
</div>