<div class="row platform_discuss_section" id="platform_discuss_section_pc">
    <div class="col-md-6">
        <img src="/{{ .image2 }}">
    </div>
    <div class="col-md-6 platform_discuss_section_second">
        <p>{{ .heading2}}</p>
        <p>{{ .text2 }}</p>
    </div>
</div>


<div class="row platform_discuss_section" id="platform_discuss_section_mobile">

    <div class="col-md-6 platform_discuss_section_second">
        <p>{{ .heading2}}</p>
        <p>{{ .text2}}</p>
    </div>

    <div class="col-md-6" id="platform_discussion_section_mobile_image">
        <img src="/{{ .image2 }}">
    </div>

</div>