<div class="row" style="" id="platform_banner_section">
    <div class="col-md-6" id="platform_banner_section_first">
        <p>{{ .heading1 }}</p>
        <p style="">{{ .text1 }}</p>
        <div class="form-group" id="platform_banner_form">
            <div class="row">

                <div class="col-md-12 platform_banner_form">
                    <button class="btn btn-dark">Demander une Demo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="text-align: center" id="platform_banner_main_image">
        <img src="{{ .image1 }}">
    </div>
</div>