<div class="row" style="" id="platform_banner_section">
    <div class="col-md-6" id="platform_banner_section_first">
        <p>{{ .heading1 }}</p>
        <p style="">{{ .text1 }}</p>
        <div class="form-group" id="platform_banner_form">
            <div class="row">

                <div class="col-md-12 platform_banner_form">
                     <a href="/contactus"><button class="btn btn-dark" style=" background-color: #2D3446; font-size:12px; padding: 0 30px; font-weight: 600">Demander une démo</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="text-align: center" id="platform_banner_main_image">
        <img src="/{{ .image1 }}" style="">
    </div>
</div>