<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>blogs</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{"css/font-awesome-master/css/font-awesome.css" | relURL }} ">
    <link rel="stylesheet" href="{{"css/style.css" | relURL }} ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<style>
    #language_select {
        display: none;
    }
</style>

<body style="font-family: 'Raleway', sans-serif; color:   #2D3446;">

{{ partial "header" (dict "Kind" .Kind "Template" "List") }}

<div class="container" id="title_section">
    <p style="font-weight: 700;color:#2D3446;">Blog</p>
    <p style="font-weight: 600;color:#2D3446;">Toutes les nouveautés, conseils et coulisses de Logement3D.</p>
</div>

<div class="container" id="blog_section">

    <div class="row" id="blog_section_2">


        {{.Content}}
        {{ range .Pages }}


        <div class="col-md-4" id="list_blog_section">
            <a href="{{.URL}}"><img src="/{{.Params.image}}" style="max-width: 100%; max-height: 100%"></a>
            <div id="blog_main_infos">
                {{ if .Params.tags }} {{range .Params.tags}}
                <button type="button"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" style="font-weight: 600;
                    color: #C17394; font-size: 14px; padding:3px">{{ . }}</a></button>
                {{end}}{{end}}
                <p style="font-weight: 700;color:#2D3446;"><a href="{{.URL}}" style="color: #2D3446"> {{.Title}}</a></p>
                <p style="font-weight: 600;color:#2D3446;font-size: 14px">{{truncate 50 .Params.text }}</p>
                <p style="font-weight: 500;color:#2D3446;opacity: 0.5;"> {{ dateFormat "Monday, Jan 2, 2006" .Date }} By
                    <span style="font-size: 14px;opacity:2;">{{.Params.author}}</span></p>
            </div>

        </div>

        {{ end }}

    </div>
</div>


{{ partial "footer" }}
{{ partial "footer_en" }}


<script>
    $(document).ready(function () {
        var how_language = localStorage.getItem("storageName");
        if (how_language === "english") {
            $(".show_in_english").show();
            $(".show_in_spanish").hide();

        } else {
            $(".show_in_english").hide();
            $(".show_in_spanish").show();
        }

    });
</script>


<script>
    $(document).ready(function () {

        var how_language = localStorage.getItem("storageName");

        if (how_language === "english") {
            $(".go_to_homepage").attr("href", "/index-en");
            $(".go_to_faq").attr("href", "/faq-en");
            $(".go_to_contactus").attr("href", "/contactus-en");
            $(".go_to_platform").attr("href", "/platform-en");
            $(".go_to_platform").text("On the Platform");
            $(".go_to_login").text("To Login");
            $(".go_to_contactus_button").text("Request a demo");


        } else {
            $(".go_to_homepage").attr("href", "/");
            $(".go_to_faq").attr("href", "/faq");
            $(".go_to_contactus").attr("href", "/contactus");
            $(".go_to_platform").attr("href", "/platform");
            $(".go_to_platform").text("La platforme");
        }

    });
</script>


</body>
</html>
