<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contact</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext"
          rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{"css/font-awesome-master/css/font-awesome.css" | relURL }} ">
    <link rel="stylesheet" href="{{"css/style.css" | relURL }} ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body style="font-family: 'Raleway', sans-serif;">

{{ partial "header_en" (dict "Kind" .Kind "Template" "List") }}


{{ partial "contactus1_first_en" .Params.contactus1_first }}


<script>
    $(document).ready(function () {
        var en_or_fr = "english";
        localStorage.setItem("storageName", en_or_fr);
    });
</script>

{{ partial "footer_en" }}
</body>
</html>
