<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>post</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{"css/font-awesome-master/css/font-awesome.css" | relURL }} ">
    <link rel="stylesheet" href="{{"css/style.css" | relURL }} ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>


<body style="font-family: 'Raleway', sans-serif;">
{{ partial "header_en" (dict "Kind" .Kind "Template" "Single") }}


<div class="container" style="text-align: center">


    <div class="" id="single_section_1">


        <p style="font-weight: 700;">{{.Params.Title}}</p>
        <p style="text-align: left;font-size: 18px; font-weight: 700; line-height: 27px;">{{.Params.text}}
        </p>
        <div style="text-align: left">
            {{ if .Params.all_subheading }}
            {{range .Params.all_subheading}}
            <p style="font-size: 24px; font-weight: 700; margin: 50px 0 30px 0"> {{.subheading}}</p>

            {{range .all_list}}
            <p style="font-size: 18px; font-weight: 700; margin: 0 0 0 0">-{{.list}}</p>
            <p style="font-size: 18px; font-weight: 600">{{.text}}</p>
            {{end}}


            {{end}}
            {{end}}
        </div>


    </div>
</div>


<script>
    $(document).ready(function () {
        var en_or_fr = "english";
        localStorage.setItem("storageName", en_or_fr);
    });
</script>

{{ partial "footer_en" . }}
</body>
</html>