<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{"css/font-awesome-master/css/font-awesome.css" | relURL }} ">
    <link rel="stylesheet" href="{{"css/style.css" | relURL }} ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>

{{ partial "header" (dict "Kind" .Kind "Template" "List") }}

{{ partial "faq1_search"  }}

{{ partial "faq2_faq"  .Params.faq2_faq  }}

{{ partial "footer" }}

<script>
    $(function() {
        $(".card").click(function() {
            $(".card").removeClass("card_actived");
            $(this).addClass("card_actived");
        });
    });
</script>


</body>
</html>
