<html>
<head>
    <meta charset="UTF-8" lang="fr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome-master/css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>

{{ partial "header" (dict "title" .title "subtitle" .subtitle) }}

{{ partial "home1_banner" .Params.home1_banner }}

{{ partial "home2_three" .Params.home2_three}}

{{ partial "home3_improve" .Params.home3_improve}}

{{ partial "home4_discuss" .Params.home4_discuss}}

{{ partial "home5_experience" .Params.home5_experience }}

{{ partial "home6_cubic" .Params.home6_cubic}}

{{ partial "home7_bottom" .Params.home7_bottom }}

{{ partial "footer" . }}

<script>
    $(function() {
        $(".card").click(function() {
            $(".card").removeClass("card_actived");
            $(this).addClass("card_actived");
        });
    });
</script>

</body>
</html>
